body {
    background-color: lightblue;
}

h2, h4 {
    background-color: inherit;
}

input {
    background-color: #fff;
    margin: 0.25em auto;
    padding: 0.25em;
    border-radius: 0.25em;
}

input[type="submit"] {
    color: #fff;
    background-color: orange;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #27a8f7;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #27a8f7;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #27a8f7;
}

#warehouse-form-container {
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
    width: 35%;
    margin: auto;
    padding: 0.5em;
}

#warehouse-container {
    background-color: #add8e6;
    border: 1px solid;
    border-radius: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.warehouse-card {
    background-color: #bac3e0;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 2.2em;
    margin: 1em;
    width: 40%;
}

.add-whs-item-btn {
    margin-left: 0.5em;
    color: #fff;
    background-color: #27a8f7;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: bold;
}

.warehouse-delete-btn {
    margin-left: 0.5em;
    color: #fff;
    background-color: red;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: bold;

}

.whs-items-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;

}